body{
  font-family: Roboto;
}
.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 15px;
  color: gray;
  padding-top: 120px;
  padding-left: 150px;
  padding-right: 40px;
  background-color: rgb(247, 244, 244);
}
.description{
  font-weight: bold;
  color: black;
  cursor: pointer;
  margin-bottom: 8px;
}
.thumbnail {
  width: 100%;
}
.video-content {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1100px) {
  .main-content {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width:1540px) {
    .main-content {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media (max-width: 500px) {
  .main-content {
    grid-template-columns: 1fr;
  }
}

.description-block{
    margin-top: 8px;
    display: flex;
    flex-direction: column;
}