.header{
    display: flex;
    flex-direction: row;
    flex: 1 1 1;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height:70px;
    z-index: 100;
    padding-top: 10px;
    padding-bottom: 10px;
}
.middle-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    min-width: 100px;
}
.search{
    display: flex;
    flex: 1;
    height: 60px;
    font-size: 16pt;
    padding-left: 20px;
    border-radius: 2px;
    border-width: 1px;
    border: 1px solid #cccccc;
    width: 0;
    box-shadow:inset 1px 2px #eeeeee;
    max-width: 500px;
}
.search-button{
    display: flex;
    flex: 1;
    height: 60px;
    width: 90px;
    margin-left: -5px;
    cursor: pointer;
    border: 1px solid #cccccc;
    flex-shrink: 0;
    position: relative;
    justify-content: center;
    align-items: center;
}
.bar,
.voice-set,
.Upload-set,
.apps-set,
.notif-set
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bar .tooltip,
.voice-set .tooltip,
.Upload-set .tooltip,
.apps-set .tooltip,
.notif-set .tooltip{
    position: absolute;
    display: flex;
    background-color: rgb(115, 115, 115);
    height: 50px;
    align-items: center;
    text-align: center;
    justify-content: center;
    bottom: -45px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12pt;
    color: white;
    border-radius: 3px;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    white-space: nowrap;
}
.bar:hover .tooltip,
.voice-set:hover .tooltip,
.Upload-set:hover .tooltip,
.apps-set:hover .tooltip,
.notif-set:hover .tooltip
{
    opacity: 1;
}
.search-icon{
    padding-top: 3px;
    width: 50px;
    height: 35px;
    cursor: pointer;
    flex-shrink: 0;

}
.left-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.hamburger{    
    width: 35px;
    height: 35px;
    margin-left: 40px;
    margin-right: 35px;
    cursor: pointer;
}
.logo{
    display: flex;
    width: 130px;
    align-items: center;
    cursor: pointer;
    margin-right: 35px;
}
.voice{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(236, 234, 234);
    width: 60px;
    height: 60px;
    border-radius: 200px;
    margin-left: 15px;
    cursor: pointer;
    margin-right: 20px;
    flex-shrink: 0;
}
.voice-search-icon{  
    width: 35px;
    height: 35px;
    cursor: pointer;
    flex-shrink: 0;
}
.right-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    align-items: center;
    flex-shrink: 0;
    margin-right: 50px;
    margin-left: 50px;
}

@media (max-width:600px) {
    .right-section{
        flex-shrink: 1;
    }  
}
@media (max-width:830px) { 
    .left-section{
        margin-right: 20px;
    }
}
.upload{
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.apps{
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.notification{
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.profile-picture{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    cursor: pointer;
}